<tr>
  <td><%= person.first_name %></td>
  <td><%= person.last_name %></td>
  <td><%= format_names(person.locations) %></td>
  <td><%= person.species %></td>
  <td><%= person.gender %></td>
  <td><%= format_names(person.affiliations) %></td>
  <td><%= person.weapon %></td>
  <td><%= person.vehicle %></td>
</tr>
