<h1>People</h1>

<%= form_for :term, url: people_path, method: :get do |form| %>
    <%= form.text_field :text, placeholder: 'Search...', value: params.dig('term', 'text') %>
    <%= form.submit 'Filter', class: 'btn btn-primary' %>
<% end  %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "locations.name", "Locations" %></th>
      <th><%= sortable "species" %></th>
      <th><%= sortable "gender" %></th>
      <th><%= sortable "affiliations.name", "Affiliations" %></th>
      <th><%= sortable "weapon" %></th>
      <th><%= sortable "vehicle" %></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "person", collection: @people %>
  </tbody>
</table>
<%= paginate @people %>
